### Flutter / Dart
.dart_tool/
.packages
build/

# Flutter tooling files
.flutter-plugins
.flutter-plugins-dependencies

# Flutter project files
*.iml
.metadata

# Platform build outputs (if generated)
android/.gradle/
android/local.properties

### OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

### Archives
*.zip
*.rar

